body {
  font-family: Arial, Helvetica, Sans-Serif;
  margin: 0px;
  padding: 0px;
  background-color: #232323;
  color: #e1e1e1;
}

a {
  color: #7f9cbd;
  text-decoration: none;
  font-size: 11px;
}

a:hover {
  color: #3369a6;
}

.gollumControlPanel {
  border-spacing: 0px;
  width: 100%;
}

.gollumControlPanel .gwt-StackPanelItem {
  font-weight: bold;
  font-size: 11px;
  background: #595959;
  color: #dddddd;
  border-bottom: 1px solid #696969;
  padding: 4px 4px 4px 5px;
  cursor: pointer;
}

.gollumDetailsPanel {
  background-color: #3c4961;
  border: 1px solid #3c4961; /* hack to prevent weird scrolling problem in ff */
}

.gollumDetailsPanel a {
  font-weight: bold;
  color: #dddddd;
}

.gollumDetailsPanel a:hover {
  color: #dddddd;
}

.gollumDetailsPanel .header {
  padding: 4px 4px 4px 5px;
  background-color: #2e3a4f;
}

.gollumDetailsPanel .header:hover {
  background-color: #232e42;
}

.gollumDetailsPanel .content {
  padding-bottom: 10px;
}

.gollumHeaderLabel {
  font-weight: bold;
  color: #e0b532;
  padding-bottom: 3px;
}

.gollumMainTabBar {
  background-color: #3c4961;
  padding-top: 5px;
  border-bottom: 3px solid #6479a5;
}

.gollumMainTabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}

.gollumMainTabBar .gwt-TabBarRest {
}

.gollumMainTabBar .gwt-TabBarItem {
  padding: 5px 10px 2px 10px;
  cursor: pointer;
  cursor: hand;
  color: #949fb6;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}

.gollumMainTabBar .gwt-TabBarItem-selected {
  cursor: default;
  color: #ffffff;
  background-color: #6479a5;
}

.gollumStatusBar {
  background-color: #3c4961;
  border-top: 1px solid #6479a5;
  padding: 3px;
}

.gollumStatusBar .gwt-Label {
  font-size: 10px;
  color: #8d9ab4;
}

.gollumStretch {
  width: 100%;
  height: 100%;
}

.gollumTooltip {
  z-index: 2000;
  padding: 5px;
  border: 1px solid #364d67;
  background-color: #1d324a;
  
  /* positioning is needed for the z-index to be respected by certain browsers */
  position: relative;
  top: 0px;
  left: 0px;
}

.gollumWidgetContainer {
  padding: 5px;
  width: 100%;
}

.gwt-Button {
  background-color: #999999;
  border: 1px solid #999999;
  color: #222222;
  font-size: 11px;
}

.gwt-HorizontalSplitPanel {
  border: none;
}

.gwt-HorizontalSplitPanel .hsplitter {
  cursor: move;
  background-color: #333333;
  border-right: 1px solid #555555;
  border-left: 1px solid #555555; 
}

.gwt-VerticalSplitPanel {
  border: none;
}

.gwt-VerticalSplitPanel .vsplitter {
  cursor: move;
  background-color: #333333;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555; 
}

.gwt-Label {
  font-size: 11px;
}

.gwt-TextBox {
  background-color: #333333;
  border: 1px solid #555555;
  color: #cccccc;
  font-size: 11px;
}

/* modify some OpenLayers styles for a more integrated look */
.olControlMousePosition {
  background-color: #3c4961;
  color: #aaaaaa;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: 1px solid #6479a5;
  border-right: 1px solid #6479a5;
  border-left: 1px solid #6479a5;
}
